<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Dashboard</title>
</head>

<body style="background-image: url('/static/images/covid.png'); 
background-repeat:repeat; z-index: -100;
overflow-x: scroll !important;
overflow-y: scroll !important;
">

    <div style="
    background-color:white;
    color:black;
    padding: 20px; margin: 0 auto; 
    text-align: center;
    display: flex;
    flex-direction: column;
    width:800px;
   ">
        <h1>Pandemic Dashboard</h1>
        <h2> Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2) A.K.A. Covid-2019 Novel Coronavirus </h2>


        <div style="flex-direction: column;
            margin: 50px;
            ">
            <h3>
                Line Graph
            </h3>
            <h4>Cases By Country</h4>
            <iframe src="/linegraph" height="600px" width="600px"></iframe>
            <p>
                This is an interactive tool that displays the global impact of the Coronavirus pandemic. You are able to
                physically see the increase in Coronovirus cases within a span of 5 months (January to May of 2020). The
                drop down on the top left hand of corner contains a list of countries in Alphabetical order which allows
                for the graph to change by country.</p>
            <p>
                As you can see all the graphs show a positive linear graph representing the increase in Covid over the 5
                month period. In order to be able to display this line graph we set the variable country to the first
                index of the data which represented the all the countries in the dataset. We then used a for loop to
                grab and iterate through the dates and a corresponding coronavirus value. A d3 select button was added
                in order to create the drop down that listed all the countriesand a .on(change) function so that the
                line graphs can change as the different countries are select.
            </p>
        </div>


        <div style="flex-direction: column;
            margin: 50px;
            ">
            <h3>
                Interchangeable Heatmap
            </h3>
            <h4>US vs. Global + Cases vs Deaths</h4>
            <iframe src="/heatmap" height="600px" width="600px"></iframe>
            <p>
                Select which data set you would like to view
                and select which date you would like to see displayed.
                This map will zoom in on any location.
            </p>
            <p>
                a. The first spike in cases in the US can be seen around 3/18/20 in the vicinity of NYC
            </p>
            <p>
                b. Spreading of cases is more concentrated at the coasts and occurs much earlier than in the midwest.
            </p>
            <p>
                c. Forunately, the ratio of deaths/cases is relatively low
            </p>
            <p>
                d. Globally, cases spiked first in China. The next three spikes occured in Japan, Iran and Italy. From
                there it quickly moved across eastern europe until early April, where it had touched nearly every
                continent. Cases spiked most recently in Africa and Australia.
            </p>
        </div>


        <div style="flex-direction: column;
            margin: 50px;
            ">
            <h3>
                Bubble Graph
            </h3>
            <h4>
                Global Confirmed Cases
            </h4>
            <iframe src="/bubble" height="600px" width="600px"></iframe>
            <p>
                Bubble Chart showing countries with over 50,000 cases as of 06/02/20.
                The size of the bubbles represents the amount of confirmed cases.
                As can be seen in the chart, United States has far surpassed any other country
                when it comes to Covid-19 cases. The US has more than 1.8 million confirmed cases.
            </p>
            US
            <p>
                1,800,000 / 308,000,000 = <strong>.5 %</strong>
            </p>
            UK
            <p>
                    276,000 / 66,000,000 = <strong>.4 %</strong>
            </p>
            Peru
            <p>
                164,000 / 32,000,000 = <strong>.5 %</strong>
            </p>
            China
            <p>
                84,000 / 1,427,000,000 = <strong>.00007 %</strong>
            </p>


        </div>



        <div style="flex-direction: column;
            margin: 50px;
            ">
            <h3>
                Choropleth Map
            </h3>
            <h4>
                State Progression
            </h4>
            <iframe src="/choro" height="700px" width="600px"></iframe>
            <p>
                This is a choropleth progression of cases in each American Provice (State).
                The scale changes drastically as the pandemic exponentially inclines.
                This was built with a Plotly package called <a href="https://plotly.com/dash/">
                    <strong>Dash</strong></a>,
                which is an entire self-contained web framework with its own syntax
                for building data analysis web applications entirely in Python.
            </p>


        </div>


    </div>
    </div>
</body>

</html>